body {
    background-color:darkgray;
}

div {
    border: 1px solid black;
    margin: 20px;
}

.red_border {
    border-color: red;
}

.green_border {
    border-color: greenyellow;
}
.first {
    margin-top:0 ;
    font-size: 80px;
}
#idelementas {
    font-size: 80px;
}

